/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    /* Fuente general para todo el cuerpo */
    background-color: #f9f9f9;
    /* Fondo suave */
    color: #333;
    /* Color del texto */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    flex-direction: column;
}

.logo {
    width: 200px;  /* Ajusta el tamaño de la imagen */
    height: auto;  /* Mantiene la proporción de la imagen */
}


/* Header */
header {
    background-color: #0670b6;
    /* Un color azul */
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    margin-bottom: 20px;
    /* Espacio entre el header y las cards */
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header  {
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
}

/* Estilo para las cards */
.card {
    background-color: white;
    margin: 20px;
    padding: 20px;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para el efecto de card */
    border-radius: 10px;
    /* Bordes redondeados */
    transition: transform 0.3s ease;
    /* Efecto de hover */
}

.card:hover {
    transform: scale(1.02);
    /* Efecto de hover que aumenta ligeramente el tamaño */
}

/* Títulos */
h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
}

/* Párrafos */
p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 15px;
}

/* Listas */
ul {
    list-style-type: none;
    /* Quitar los puntos de la lista */
    padding-left: 0;
}

ul li {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
}

/* Colores y Bordes */
.card p,
.card li {
    border-left: 5px solid #3498db;
    /* Una barra azul a la izquierda del párrafo o ítem */
    padding-left: 15px;
    margin-left: 20px;
}

.color-box {
    display: inline-block;
    width: 20px; /* Ancho del cuadrito */
    height: 20px; /* Alto del cuadrito */
    border-radius: 4px; /* Bordes redondeados */
    margin-right: 10px; /* Espacio entre el cuadro de color y el texto */
    vertical-align: middle; /* Alinea el cuadro con el texto */
}