
@media screen and (min-width: 500px) {
    /* Your CSS styles for viewport width 500px or greater go here */
    header {
        background-color: black;
        color: white;
      }
    
      /* Change main to display two columns of equal size */
      main {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
}
  