/*reminder: general to specific
1.reset general:* limpia todoo
2.el setup Global:body, h1 (define letras y fondos generales
3.el grid:.grid-container -crea la estructura o el esqueleto 
de como se vana acomadar las cosa en al pantalla.
4.los detalles especificos:.card, header,footer - (clores individuales, bordes sombras y
detallitos de cada caja.*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* General Styles */
body{
    font-family: Arial, sans-serif;
    background-color: #eaedf1;
}

/*el titulo grande*/
h1{
    text-align: center;
    margin:40px 0;
    color: #1a1a1a;
}

/*4. el contenedor grid (el esqueleto de las tarjetas)*/
.grid-container{
    display:grid; /*aqui estoy activndo el sistema de rejillas*/
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr)); /*la regla magica responsiva*/
    gap:20px;/*separa las tarjetas entre si por 20pixeles*/
    max-width:1200px;/*evitara que las tarjetas se extiendan más allá de 1200px*/
    margin:0 auto;/*centra todo el bloque de las tarjetas en mi pantalla*/
    padding:0 20px;/*deja un espacio de colchon a los lados en pantallas chicas*/

}




